* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  width: 90%;
  max-width: 800px;
  margin: 32px auto;
}
/* drink-list { */
/* display: block; */
/* margin-top: 32px; */
/* width: 300px;
  height: 100px;
  padding: 4em 1em;
  display: grid;
  grid-template-columns: 66% auto;
  margin: 80px;
  align-items: center;
  grid-gap: 30px;
  object-fit: cover;
} */

/* .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 80px;
  align-items: center;
  grid-gap: 20px;
} */

/* .container{
  display: grid;
  grid-template-columns: 66% auto;
  padding: 4em 1em;
} */

drink-list {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(3, auto);
  /* grid-template-rows: repeat(2, auto); */
  /* grid-template-columns: 50% auto; */
  /* padding: 4em 1em; */
  margin-top: 1em;
  /* margin-right: 150px;
  margin-left: 1px; */
  grid-gap: 15px;
  width: 100%;
}


/* ul li {
  padding: 2em;
} */
